.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align activities in the start */
}

.activities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.activity-item {
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.activity-link {
    color: white;
    text-decoration: underline;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.activity-link span {
    background-color: red;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.no-activities-message {
    color: white;
    text-decoration: underline;
    font-size: 20px;
}

.add-activity-button {
    display: block;
    margin-top: 1em;
    background-color: red;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 15px;
}

.activity-form {
    margin-top: 1em;
}

.activity-label {
    display: block;
    margin-bottom: 0.5em;
    color: white;
    font-size: 20px;
}

.activity-input {
    width: 98%;
    padding: 0.5em;
    border-radius: 10px;
    border: 3px solid red;
    font-size: 20px;
}

.activity-input:focus {
    outline: none;
    border: 3px solid darkred;
    background-color: red;
    color: white;
    transition: 0.3s;
}

.submit-button {
    display: block;
    margin-top: 0.5em;
    background-color: red;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 15px;
}

.submit-button:hover,
.add-activity-button:hover,
.activity-link span:hover {
    background-color: darkred;
    border: 3px solid red;
    transition: 0.3s;
    color: red;
}

.activity-link:hover {
    text-decoration-color: red;
    transition: 0.3s;
}

.edit-button,
.delete-button {
    background-color: #9b870c;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    width: 40%; /* Adjust the width as needed */
    margin: 0px 10px;
}

.delete-button {
    background-color: darkred;
}

.edit-button:hover,
.delete-button:hover {
    background-color: darkred;
    border: 2px solid red;
    transition: 0.3s;
    color: red;
}

.activity-item-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
}