.dashboard { 
    display: flex;
}

.dashboard > * {
    flex: 1;
}

.main-content {
    height: calc(100% - 71px);
    overflow: auto;
}

.signedin-content { 
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 70px;
    min-height: 82.5vh;
}






.activities-container {
    margin: 10px;
    padding: 15px 15px 5px;
    border-radius: 10px;
}

.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}

.activity-link {
    color: white;
    text-decoration: underline;
    border-radius: 10px;
    padding: 5px;
    font-size: 25px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.activity-link span {
    background-color: red;
    border: 3px solid white;
    border-radius: 10px;
    padding: 50px 15px 50px 15px;
}

.edit-button, .delete-button {
    margin-left: 1em;
    margin-bottom: 13px;
    background-color: #9b870c;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.delete-button {
    background-color: darkred;
}

.no-activities-message {
    color: white;
    text-decoration: underline;
    font-size: 20px;
}

.add-activity-button {
    display: block;
    margin-top: 1em;
    background-color: red;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 15px;
}

.activity-form {
    margin-top: 1em;
}

.activity-label {
    display: block;
    margin-bottom: 0.5em;
    color: white;
    font-size: 20px;
}

.activity-input {
    width: 98%;
    padding: 0.5em;
    border-radius: 10px;
    border: 3px solid red;
    font-size: 20px;
}

.activity-input:focus {
    outline: none;
    border: 3px solid darkred;
    background-color: red;
    color: white;
    transition: 0.3s;
}

.submit-button {
    display: block;
    margin-top: 0.5em;
    background-color: red;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 15px;
}

.submit-button:hover, .add-activity-button:hover, .activity-link span:hover{
    background-color: darkred;
    border: 3px solid red;
    transition: 0.3s;
    color: red;
}

.activity-link:hover {
    text-decoration-color: red;
    transition: 0.3s;
}

.edit-button:hover, .delete-button:hover {
    background-color: darkred;
    border: 2px solid red;
    transition: 0.3s;
    color: red;
}