.navLogo { /* logo picture */
    height: 50px;
    border-right: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 10px;
    }
  
body { /* defaults for the entire body */
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }
.signincontainer { /* This is the container for the sign in page */
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100vh - 160px);
  }
.card { /* This is the container for the sign in card */
      background: #3A3B3C;
      border-radius: 8px;
      -webkit-box-shadow:0px 0px 96px 54px rgba(255,0,0,0.71);
      -moz-box-shadow: 0px 0px 96px 54px rgba(255,0,0,0.71);
      box-shadow: 0px 0px 96px 54px rgba(255,0,0,0.71);
      overflow: hidden;
      margin: 10px;
      border: 5px solid white;
      background: rgba( 68, 62, 62, 0.3 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
  }

.header { /* background of header */
      color: white;
       padding: 20px;
      text-align: center;
      background: rgba( 139, 0, 0, 0.3 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
  }
.content {  /* all items together */
      padding: 20px;
      display: flex;
  }
.option { /* all items together */
      flex: 1; 
      margin: 10px;
      text-align: center;
  }
.option img { /* each individual item */
      width: 300px;
      height: auto;
      border-bottom: 3px solid red;
      border-radius: 10px;
  }
.option h3 { /* each individual item */
      background-color: red;
      border-radius: 10px;
      color: white;
      margin: 0;
      padding: 10px;
  }
  
a { /* all links */
    text-decoration: none;
  }
.option h3:hover {  /* nav hover */
    transition: 0.3s;
    color: red;
    border-left: 3px solid red;
    border-right: 3px solid red;
    transition: 0.3s;
    background-color: #8B0000;
  }
  
.breadcrumb { /* all items together */
    display: flex;
    align-items: center;
}

.breadcrumbItem { /* each individual item */
    color: white;
    font-size: 25px;
    text-decoration: underline;
    margin: 0 10px;
    height: 100%;
}
.navbar { /* This is the wrapper for the navbar */
    display: flex;
    justify-content: space-between;
    padding: 0 0 17px 0;
    background: rgba( 255, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 255, 0, 0, 0.37 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.logoAndLinks { /* all items together */
    display: flex;
    align-items: center;
}

.breadcrumb { /* all items together */
    display: flex;
    gap: 10px; 
    height: 100%;
    padding-top: 10px;
}

.arrow { /* This is the left arrow button */
    margin: 0 10px;
    font-size: 30px;
}

.breadcrumbItem:hover { /* nav hover */
  color: red;
  border: 3px solid red;
  transition: 0.3s;
  background-color: #8B0000;
  border-radius: 10px;
  padding: 5px;
}

 .active { /* link is currently being accessed */
  color: red;
  font-style: bold;
  font-size: 30px;
  text-decoration: underline;
}