.slideCreationHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slideCreationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 10px auto; 
  border-radius: 10px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 10px;
  background: rgba( 255, 0, 0, 0.50 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
}

.createButton, .uploadButton {
  margin: 5px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  font-size: 15px;
  
}

.createButton:hover, .uploadButton:hover {
  background-color: darkred;
  border: 3px solid red;
  transition: 0.3s;
  color: red;
}

.buttons {
  display: flex;
  justify-content: center;
}

.sl {
  margin-bottom: 10px;
}

.slideTitle, .slideDescription, .slideDate {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.slideTitleInput, .slideDescriptionInput, .slideDateInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  padding: 0.5em;
  border-radius: 10px;
  border: 3px solid red;
  font-size: 20px;
}

.slideTitleInput:focus, .slideDescriptionInput:focus, .slideDateInput:focus {
  outline: none;
  border: 3px solid darkred;
  background-color: red;
  color: white;
  transition: 0.3s;
}

#imageInput {
  display: none;
}

#output {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.slideDescriptionContainer, .slideDateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.imagePreview {
  width: 100%;
  height: auto;
}