.slideCreationHomePage {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
  
.slideCreationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: red;
  height: 50%;

}

.createButton {
  margin: 20px;
}

.uploadButton {
  margin: 20px;
}
.uploadButton, .createButton {
  background-color: red;
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
}