
.slideCreationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 100px 20px;
  background: rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%; 
  left: 0;
  right: 0;
  transform: translateY(-50%);
  pointer-events: none;
}

.navButton {
  background-color: red;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 30px 10px;
  min-width: 44px; 
  cursor: pointer;
  pointer-events: all; 
}

.navButtonLeft {
  margin-left: 10px;
  padding: 10px 5px 10px 15px; 
}

.navButtonRight {
  margin-right: 10px; 
}

.navButton:hover {
  background-color: darkred;
  color: red;
  border: 3px solid red;
  transition: 0.3s;
}

.navButton:disabled {
  background-color: grey;
  border-color: grey;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  min-width: 44px;
  cursor: not-allowed;
}

.inputContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputTitle {
  font-size: 30px;
  color: white;
  margin-bottom: 0;
  font-family: Luminari, fantasy;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-top: -25px;
  text-decoration: underline;
  text-decoration-color: red;
  text-align: center;
}

.slideTitleInput, .slideDescriptionInput, .slideDateInput {
  width: 90%;
  padding: 0.5em;
  border-radius: 10px;
  border: 3px solid red;
  font-size: 20px;
}

.slideTitleInput:focus, .slideDescriptionInput:focus, .slideDateInput:focus {
  outline: none;
  border: 3px solid darkred;
  background-color: red;
  color: white;
  transition: 0.3s;
}

.colorInput {
  padding: 30px 40%;
  border-radius: 10px;
  border: 2px solid red; 
  font-size: 16px;
  margin: 10px 0; 
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}


#imageInput {
  display: none;
}

#output {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.imagePreview {
  width: auto;
  height: 200px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 10px;
}

.stepCounter {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: -25px;
}

.createButton {
  background-color: red;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px 40px;
  min-width: 44px; 
  font-size: 20px;
  margin: 20px 0 0px 0;
}

.createButton:hover {
  background-color: darkred;
  border: 3px solid red;
  transition: 0.3s;
  color: red;
}

.optionButton {
  background-color: red;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px 40px;
  min-width: 44px; 
  font-size: 20px;
  margin: 10px 5px 0px 5px;
}

.optionButton:hover {
  background-color: darkred;
  border: 3px solid red;
  transition: 0.3s;
  color: red;
}

.exampleText {
  margin: 0;
}

.uploadButton {
  background-color: red;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  margin: 5px 0 0px 0;
}

.uploadButton:hover {
  background-color: darkred;
  border: 3px solid red;
  transition: 0.3s;
  color: red;
}