@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.carousel-container {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pbaronecontainerone {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 100%;
    margin: 10px 0 0 0;

}

.pbaronecontainertwo {
    display: flex;
    width: 25%;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0 5px 0 0;
}

.pbarone {
    background-color: red;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.slide-input {
    background: none;
    border: none;
    appearance: textfield; /* Removes the arrows in some browsers */
    -moz-appearance: textfield; /* Removes the arrows in Firefox */
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.slide-input::-webkit-inner-spin-button, /* Removes the arrows in Chrome */
.slide-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slide-input:focus {
    outline: none;
}

.carousel{
    overflow: hidden;
    width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    left: 0;
    background: none;
}

.carousel-item.fullscreen {
    height: 90vh;
    width: 100%;
    border: none;
}

.inner{
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56vh;
    border: 10px solid red;
    border-radius: 10px;
}

.carousel-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.carousel-buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 0 0;
    padding: 10px;
}

.carousel-wrapper {
    position: relative;
}

.button-arrow-left {
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    padding: 40px 5px 40px 15px;
}

.button-arrow-right {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    padding: 40px 10px;
}

.carousel-buttons label {
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0 10px 0 10px;
    background-color: red;
    border-radius: 10px;
    border: 3px solid white;
    padding: 10px 5px 10px 10px;
    font-size: 20px;

}
.sidetoside {
    border: 3px solid white;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.75);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px 0 15px;
}

.fullscreen-button {
    background: darkred;
    color: black;
    border-radius: 10px;
    border: 3px solid white;
    cursor: pointer;
    padding: 11px 10px 10px 11px;
}

.button-arrow{
    background-color: darkred;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.button-arrow:focus {
    outline: none;
}

