
.App {
  min-height: 100vh;
  font-family: Arial, Helvetica;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-section {
  bottom:0;
  width: 100%;
  margin-top: 25px;
}

footer { /* footer of site with created by */
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background: rgba( 68, 62, 62, 0.5 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}


/*
NAVIGATION BAR
*/

header { /* background of header */
  padding: 0 0;
  background: rgba( 255, 0, 0, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 255, 0, 0, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav ul { /* all items together */
  list-style: none;
  padding: 0;
  margin-left: 30px;

  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
  flex-direction: row;
}

nav .nav-logo { /* logo picture */
  height: 50px;
  border-right: none;
  margin-right: 30px;
}

nav ul li { /* each individual item */
  padding-left: 10px;
  padding-right: 10px;
  display: table;
}

.wordlinks { /* each individual link (no image) */
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-left: 3px solid white;
  border-right: 3px solid white;
  margin: 0px 75px 0px 0px;
  padding: 10px 15px 10px 15px;
}

.wordlinks:hover { /* nav hover */
  color: #000435;
  border-left: 3px solid #000435;
  border-right: 3px solid #000435;
  transition: 0.3s;
}

nav ul li img { /* logo picture */
  text-decoration: none;
  color: white;
  font-weight: bold;
}

 nav .active { /* link is currently being accessed */
  color: #ff0000;
  font-style: bold;
  text-decoration: underline;
}





/* 
BODY OF SITE 
*/
html, body { /* defaults for the entire body */
  font-family: Arial, Helvetica;
  margin: 0;
  color: white;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.welcome { /* welcome section div */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.welcome-text { /* welcome text (all text in welcome div) */
  max-width: 40%;
  font-size: 20px;
}

.welcome-text h1 { /* welcome header (welcome to slidecentral) */
  font-family: Luminari, fantasy;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-bottom: -10px;
}

.scund {
  text-decoration: underline;
  text-decoration-color: red;
}

.large-logo { /* large slide central logo */
  max-width: 50%;
  height: auto; 
  border-radius: 30px;
  background: rgba( 35, 38, 104, 0.55 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border: 4px solid rgba( 255, 255, 255, 0.18 );
  -webkit-box-shadow:0px 0px 53px 1px rgba(32,47,214,0.9);
  -moz-box-shadow: 0px 0px 53px 1px rgba(32,47,214,0.9);
  box-shadow: 0px 0px 53px 1px rgba(32,47,214,0.9);
}

.get-started { /* get started section div */
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
  background: rgba( 255, 0, 0, 0.50 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border: 1px solid rgba( 255, 255, 255, 0.50 );
}

.get-started h2 { /* get started heading */
  color: #fff;
  font-family: Luminari, fantasy;
  font-weight: lighter;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: -5px;
}

.google-sign-in { /* google sign in button */
  background-color: #4285f4;
  color: white;
  padding: 20px 40px;
  margin-top: 10px;
  cursor: pointer;
  border: 3px solid grey;
  border-radius: 20px;
  margin-right: 10px;
}

.view-slides { /* view slides button */
  background-color: #333;
  color: white;
  padding: 20px 40px;
  cursor: pointer;
  margin-top: 10px;
  border: 3px solid grey;
  border-radius: 20px;
}

.google-sign-in:hover, .view-slides:hover { /* sign in/view button hover */
  border: 3px solid #000435;
  transition: 0.3s;
}




/*
SCROLL BAR
*/
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #808080, #8B0000);
    border-radius: 6px; 
    margin: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #a9a9a9, #b22222);
}






/*
HELP
*/
.help-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.help-content-container h2 {
  color: red;
  font-style: bold;
  text-decoration: underline;
  font-size: 35px;
}
.help-content-container h3 {
  color: #8B0000;
  font-style: bold;
  font-size: 30px;
}

.help-content-container p {
  font-size: 25px;
}

.feedback-section {
  flex: 1;
  min-width: 300px;
  padding: 10px 30px 0px 10px;
  border-right: 5px solid grey;
  border-bottom: 2px solid grey;
}

.contact-section {
  flex: 1;
  min-width: 300px;
  padding: 10px 40px 0px 30px;
  border-bottom: 2px solid grey;
}

.contact-info {
  margin-bottom: 20px;
  
}

@media (max-width: 600px) {
  .content-container {
    flex-direction: column;
  }

  .feedback-section, .contact-section {
    min-width: 100%;
    max-width: 100%;
  }
}







/*
INFORMATION TAB
*/
.info-content-container {
  display: flex; 
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 0 0;
}

.information-section, .capabilities-section {
  flex: 1;  
  color: white; 
  box-sizing: border-box;
  min-height: 100%;
}

.information-section {
  padding: 0px 10px 20px 20px;
}

.capabilities-section {
  padding: 0px 20px 20px 50px;
  border-left: 5px solid grey;
}

.info-content-container h2 {
  color: red;
  font-style: bold;
  text-decoration: underline;
  font-size: 35px;
  margin-bottom: -10px;
}

.info-content-container p {
  font-size: 25px;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .information-section, .capabilities-section {
    width: 100%;
    margin: 10px 0;
  }
}